<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bubble Index</title>
</head>

<body>
    <h1>Welcome to Chat Bubble!</h1>
    <h2>Currently in development!</h2>
    <ul>
        <li>
            <a href="{{url_for('root.register')}}">Register a new account</a>
        </li>
        <li>
            <a href="{{url_for('root.login')}}">Login</a>
        </li>
        <li>
            <a href="{{url_for('user.index')}}">Goto User Profiles!</a>
        </li>
        <li>
            <a href="{{url_for('room.index')}}">Goto Rooms</a>
        </li>
    </ul>
</body>

</html>